<div class="container">
  <div class="center-block">
    <a class="navbar-brand" href="https://forums.2030.io"><img src="https://s3-us-west-2.amazonaws.com/twentythirty/2030+Logo+Green+Small.png" alt="20|30"></a>
  </div>
</div>
<div  class="open">
    <span class="cls"></span>
    <span>
        <ul class="sub-menu ">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "History", history_path %></li>
          <li><%= link_to "Opportunity", opportunity_path %></li>
          <li><%= link_to "Core Beliefs", core_beliefs_path %></li>
          <li><%= link_to "Manifesto", manifesto_path %></li>
          <li><%= link_to "Audiences", audiences_path %></li>
          <li><%= link_to "Minimum Viable Product", minimum_viable_product_path %></li>
          <li><%= link_to "Company Profiles", company_profiles_path %></li>
          <li><%= link_to "Business Model", business_model_path %></li>
          <li><%= link_to "Relationship to 20|30", relationship_to_20_30_path %></li>
          <li><%= link_to "Name", name_path %></li> 
          <li><%= link_to "Summary", summary_path %></li> 
        </ul>
    </span>
    <span class="cls"></span>
</div>